<?xml version="1.0" encoding="utf-8"?><!DOCTYPE context [<!ELEMENT context (device | context-attribute)*><!ELEMENT context-attribute EMPTY><!ELEMENT device (channel | attribute | debug-attribute | buffer-attribute)*><!ELEMENT channel (scan-element?, attribute*)><!ELEMENT attribute EMPTY><!ELEMENT scan-element EMPTY><!ELEMENT debug-attribute EMPTY><!ELEMENT buffer-attribute EMPTY><!ATTLIST context name CDATA #REQUIRED description CDATA #IMPLIED><!ATTLIST context-attribute name CDATA #REQUIRED value CDATA #REQUIRED><!ATTLIST device id CDATA #REQUIRED name CDATA #IMPLIED><!ATTLIST channel id CDATA #REQUIRED type (input|output) #REQUIRED name CDATA #IMPLIED><!ATTLIST scan-element index CDATA #REQUIRED format CDATA #REQUIRED scale CDATA #IMPLIED><!ATTLIST attribute name CDATA #REQUIRED filename CDATA #IMPLIED value CDATA #IMPLIED><!ATTLIST debug-attribute name CDATA #REQUIRED value CDATA #IMPLIED><!ATTLIST buffer-attribute name CDATA #REQUIRED value CDATA #IMPLIED>]>
<context name="serial" description="/dev/ttyUSB1: FT230X Basic UART - D3091LE6">
    <context-attribute name="uri" value="serial:/dev/ttyUSB1,115200,8n2n"/>
    <device id="iio:device0" name="ad74413r">
        <channel id="voltage0" name="config_ch0" type="input">
            <attribute name="enabled" filename="in_voltage0_enabled" value="0"/>
            <attribute name="function_cfg" filename="in_voltage0_function_cfg" value="high_z"/>
            <attribute name="function_cfg_available" filename="function_cfg_available" value="high_z voltage_out current_out voltage_in current_in_ext current_in_loop resistance digital_input digital_input_loop current_in_ext_hart current_in_loop_hart"/>
        </channel>
        <channel id="voltage1" name="config_ch1" type="input">
            <attribute name="enabled" filename="in_voltage1_enabled" value="0"/>
            <attribute name="function_cfg" filename="in_voltage1_function_cfg" value="high_z"/>
            <attribute name="function_cfg_available" filename="function_cfg_available" value="high_z voltage_out current_out voltage_in current_in_ext current_in_loop resistance digital_input digital_input_loop current_in_ext_hart current_in_loop_hart"/>
        </channel>
        <channel id="voltage2" name="config_ch2" type="input">
            <attribute name="enabled" filename="in_voltage2_enabled" value="0"/>
            <attribute name="function_cfg" filename="in_voltage2_function_cfg" value="high_z"/>
            <attribute name="function_cfg_available" filename="function_cfg_available" value="high_z voltage_out current_out voltage_in current_in_ext current_in_loop resistance digital_input digital_input_loop current_in_ext_hart current_in_loop_hart"/>
        </channel>
        <channel id="voltage3" name="config_ch3" type="input">
            <attribute name="enabled" filename="in_voltage3_enabled" value="0"/>
            <attribute name="function_cfg" filename="in_voltage3_function_cfg" value="high_z"/>
            <attribute name="function_cfg_available" filename="function_cfg_available" value="high_z voltage_out current_out voltage_in current_in_ext current_in_loop resistance digital_input digital_input_loop current_in_ext_hart current_in_loop_hart"/>
        </channel>
        <attribute name="apply" value="0"/>
    </device>
    <device id="iio:device1" name="max14906">
        <channel id="voltage0" type="input">
            <attribute name="function" filename="in_voltage0_function" value="direction_out"/>
            <attribute name="function_available" filename="function_available"
                       value="direction_out direction_in direction_high_z"/>
            <attribute name="IEC_type" filename="in_IEC_type" value="Type_1_3"/>
            <attribute name="IEC_type_available" filename="in_IEC_type_available" value="Type_1_3 Type_2"/>
            <attribute name="enabled" filename="in_voltage0_enabled" value="0"/>
        </channel>
        <channel id="voltage1" type="input">
            <attribute name="function" filename="in_voltage1_function" value="direction_out"/>
            <attribute name="function_available" filename="function_available"
                       value="direction_out direction_in direction_high_z"/>
            <attribute name="IEC_type" filename="in_IEC_type" value="Type_1_3"/>
            <attribute name="IEC_type_available" filename="in_IEC_type_available" value="Type_1_3 Type_2"/>
            <attribute name="enabled" filename="in_voltage1_enabled" value="0"/>
        </channel>
        <channel id="voltage2" type="input">
            <attribute name="function" filename="in_voltage2_function" value="direction_out"/>
            <attribute name="function_available" filename="function_available"
                       value="direction_out direction_in direction_high_z"/>
            <attribute name="IEC_type" filename="in_IEC_type" value="Type_1_3"/>
            <attribute name="IEC_type_available" filename="in_IEC_type_available" value="Type_1_3 Type_2"/>
            <attribute name="enabled" filename="in_voltage2_enabled" value="0"/>
        </channel>
        <channel id="voltage3" type="input">
            <attribute name="function" filename="in_voltage3_function" value="direction_out"/>
            <attribute name="function_available" filename="function_available"
                       value="direction_out direction_in direction_high_z"/>
            <attribute name="IEC_type" filename="in_IEC_type" value="Type_1_3"/>
            <attribute name="IEC_type_available" filename="in_IEC_type_available" value="Type_1_3 Type_2"/>
            <attribute name="enabled" filename="in_voltage3_enabled" value="0"/>
        </channel>
        <attribute name="apply" value="0"/>
    </device>
</context>
